
#container {
  background-color: #5B7989;
  color: white;
  border-radius: 10px,10px;
  text-align:left;
}
#container h1{
    color: white;
  	text-shadow: 2px 2px 2px #02010a;
    display:inline-flex;
    text-align:center;
    margin-left: 10px;
      }
  #menu-principal{
      background-color: #5B7989;
      float: right;
      color: white;
      padding-top: 30px;
  }
  @media (max-width: 700px) {
  #menu-principal {
  padding-top:0;
  float:none;
  }
  }
  #menu-principal ul{
    list-style-type: none;
    text-align: center;
   }
 #menu-principal li{
   display: inline-flex;
   text-align: center;
   margin: 0 20px 0 0;
   }
  #menu-principal li a {
      color: white;
      text-decoration: none;
   }
