body{
  background-color: #02010a;
  font-family: 'Dancing Script', cursive;
    }
    @media (max-width: 900px) {
      #contenido{
        margin:0;
        padding: 0;
        border: 0;
        width:100%;
        align-content: center;
      }
    }
    @media (min-width: 900px) {
      #contenido{
        margin:auto;
        padding: 0;
        border: 0;
        width:900px;
        align-content: center;
      }
    }
#container {
  margin:0;
  padding: 0;
  border: 0;
  background-color: #5B7989;
  color: white;
  border-radius: 10px 10px 0 0;
  }
  #container h1{
    color: white;
  	text-shadow: 2px 2px 2px #02010a;
    display:inline-flex;
    text-align:center;
    margin-left: 10px;
      }
  #menu-principal{
      background-color: #5B7989;
      margin: 0;
      float: right;
      color: white;
      padding-top: 30px;
      border-radius: 0px 10px 0 0;
      font-size: 25px;
  }
  @media (max-width: 900px) {
    #menu-principal {
      padding:0;
      margin:0;
      float:none;
  }
  }
  #menu-principal ul{
    list-style-type: none;
    text-align: center;
    margin: 0;
   }
 #menu-principal li{
   display: inline-flex;
   text-align: center;
   margin: 0 20px 0 0;
   }
  #menu-principal li a {
      color: white;
      text-decoration: none;
   }
   #imagenes img{
     box-shadow: 2px 2px #02010a;
   }
   #ImagenCentral{
     padding:0;
     margin:0;
     border:0;
     background-color: #82c3a6;
   }
   #ImagenCentral img{
     width: 90%;
     padding:0;
     margin:5%;
     margin-top: 2%;
     margin-bottom: 2%;
     border:0;
     background-color: #82c3a6;
    }
    @media (max-width: 900px) {
      #ImagenIzquierda{
        padding:0;
        margin:0;
        border:0;
        background-color:#d5c75f;
      }
        #ImagenDerecha{
          padding:0;
          margin:0;
          border:0;
        background-color:#d5c75f;
      }
    }
      @media (min-width: 900px) {
    #ImagenIzquierda{
      padding:0;
      margin:0;
      border:0;
      width:50%;
      background-color:#d5c75f;
      }
      #ImagenDerecha{
      padding:0;
      margin:0;
      border:0;
      width:50%;
      background-color:#d5c75f;
      float: right;
    }
  }
    #ImagenIzquierda img{
      width: 98%;
      padding:0;
      margin:1%;
      background-color:#d5c75f;
    }
    #ImagenIzquierda img:hover{
      	transform: rotate(10deg);
          box-shadow: 2px 2px #82c3a6;
    }
    #ImagenDerecha img{
      width: 98%;
      padding:0;
      margin:1%;
      background-color:#d5c75f;
    }
    #ImagenDerecha img:hover{
        transform: translate(-5px,-20px);
          box-shadow: 2px 2px #82c3a6;
      }
    .contenedor{
      background-color: #C6d5c5;
      margin: 0;
    	padding-bottom: 10px;
    	width: 100%;
      font-size: 17px;
      border-radius: 0 0 10px 10px;
    }
    .contenedor div {
      display:inline-block;
    	box-sizing: border-box;
      text-align: center;
    }
    @media (max-width: 900px) {
      .contenedor div {
        width: 100%;
        margin top: 3px;
      }
    }
    @media (min-width: 900px) {
    .contacto {
      margin: 0;
    	padding: 0;
      border: 0;
      width: 24%;
      vertical-align: top;
          }
    .termino {
      margin: 0;
      padding: 0;
      border: 0;
      width: 24%;
      vertical-align: top;
    }
    .redessociales {
      margin: 0;
      padding: 0;
      width: 24%;
      vertical-align: top;
    }
    .derechos {
      margin: 0;
      padding: 0;
      width: 24%;
      vertical-align: top;
    }
    }
